# Environnements virtuels
anomaly_env/
venv/
env/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib

# Système
.DS_Store
Thumbs.db

# Données et modèles
*.h5
*.pth
*.pt
*.onnx
*.zip
*.tar.gz
data/
weights/
models/

# Logs
*.log
logs/
